@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
body{
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x:hidden;
}
:root{
    --font-titles:  'Ubuntu', sans-serif;
    --font-txt:'Source Sans Pro', sans-serif;
}
.topTitulo{
  display:flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 100px;
  align-items: center;
  font-size: 60px;
  color: aliceblue;
  font-family: var(--font-titles);
}

.subtopicos{
    
    font-family: var(--font-titles);
    margin-left: 5px;
    font-size: 20px;
    color: aliceblue;
    text-align: center;   
}

.sobreMim-text{
    font-family: var(--font-txt);
    width:400px;
    height: 400px;
    text-align:left;
    position: absolute;
    margin-left: 50px;
    font-size: 20px;
    color: white;
}

.blocoA1{
    width:500px;
    height: 500px;
    margin-left: 15px;
    margin-top: 150px;
    background-color: #fbff00;
    position:relative;
    float:left;
    
}
.blocoA2{
    width:500px;
    height: 500px;
    margin-left:25px;
    margin-top: 140px;
    background-color: #006eff;
    position: absolute;
    float: left;
}

.objetivos-text{
    font-family: var(--font-txt);
    width:400px;
    height: 300px;
    text-align:left;
    position: absolute;
    z-index: 3;
    margin-left:10px;
    font-size: 20px;
    color: white;
    clear: both;
}
.objetivos-text >div{
    margin-left: 30px;
}

.blocoB1{
    width:500px;
    height: 300px;
    margin-right:25px;
    margin-top: 40px;
    background-color: #fbff00;
    float: right;
}
.blocoB2{
    width:500px;
    height: 300px;
    margin-right:20px;
    margin-top: 50px;
    background-color: #006eff;
    float: right;
    top: 23rem;
    right: 2rem;
    position: absolute;
    
}

.blocoC1{
    clear: both;
    width: 300px;
    height: 100px;
    margin-top: 150px;
    margin-left: 500px;
    background-color: #fbff00;
    float: left;
    position: relative;
}

.blocoC2{
    width:300px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #006eff;
    float: left;
    position: absolute; 
    
}

.blocoD{
    clear: both;
    width: 500px;
    height: 400px;
    margin-top: 100px;
    margin-left: 50px;
    background-color: #fbff00;
    border:solid 5px #cace13;
    float: left;
    position: relative;
     clear: both;
}
.blocoE{
   
    width: 500px;
    height: 400px;
    margin-top: 100px;
    margin-right: 50px;
    background-color: #006eff;
    float: right;
    position: relative;
    border:solid 5px #0560d8;
}
.backTitleTxt{
    font-family: var(--font-titles);
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.backTxt{
    
    font-size: 20px;
    text-align: left;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    

}
.backTxt ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.backTxt ul > li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}
div ul li img{
    width: 50%;
}
.frontTitleTxt{
    font-family: var(--font-titles);
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.frontTxt{
    clear: both;
    font-size: 20px;
    text-align: left;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}

.frontTxt ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.frontTxt ul > li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
}



.blocoF{
    font-family: var(--font-titles);
    color: white;
    clear: both;
    width: 300px;
    height: 190px;
    margin-top: 150px;
    margin-right: 37%;
    
    border: solid 10px #fbff00 ;
    float:right;
    
}

.blocoF >div >p{
    float: left;
    margin-left: 30%;
    margin-top: 10%;
    display:flex;
    flex-direction: column;
}

.blocoF >div >p >a >i{
    font-size: 120px;
    color:rgb(255, 253, 253);
}


.blocoG1{
    width:500px;
    height: 600px;
    margin-right:25px;
    margin-top: 40px;
    background-color: #fbff00;
    float: right;
    position: relative;
}
.blocoG2{
    width:500px;
    height: 600px;
    margin-right:10px;
    margin-top: 10px;
    background-color: #006eff;
    float: right;
}

.blocoH{
    clear: both;
    width: 100%;
    height:30vh;
    margin-top: 30px;
    background-color: #006eff;
    float:right;
    position:relative;
}

.footTitleTxt{
    font-family: var(--font-titles);
    text-align: center;
    color: rgb(255, 255, 255);
}

.footTxt{
    margin-left: 27%;
    font-size: 20px;
    text-align: left;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    position:absolute;
    width: 100%;
}

.footTxt ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    position:absolute;
    margin:10px;
}
.footTxt ul > li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 20px;
}

li > a > i{
    font-size: 40px;
    color:rgb(255, 253, 253);
}

ul > img{
    width:100%;
}