@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin: 0 auto;
    padding-left: 0;
    box-sizing: border-box;
    
}
body{
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x:hidden;
}

:root{
    --font-titles:  'Ubuntu', sans-serif;
    --font-txt:'Source Sans Pro', sans-serif;
}

.topTitulo{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:1000px;
  border: solid 10px #fbff00; ;
  margin-top: 80px;
  font-size: 30px;
  color: aliceblue;
  font-family: var(--font-titles);
}



.sobreMim-text{
    font-family: var(--font-txt);
    width:400px;
    text-align:center;
    font-size: 20px;
    color: white;
    background-color: #006eff;
    border: solid 10px #006eff;
    box-shadow: -10px -10px #fbff00;
    position: absolute;
    top: 60%;
    right: 60%;
    
}

.objetivos-text{
    font-family: var(--font-txt);
    width:400px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color:#006eff;
    border: solid 10px #006eff;
    box-shadow: 10px -10px #fbff00;
    float:right;
    position: absolute;
    top: 50%;
    left: 50%;
    
    
}

.infoPessoais{
    font-family: var(--font-txt);
    width:400px;
    text-align: left;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color:#006eff;
    border: solid 10px #006eff;
    box-shadow: 10px 10px #fbff00;
    position: relative;
    float: right;
    margin-top: 30%;
    margin-right: 10%;
}
.formacoesTxt{
    font-family: var(--font-txt);
    width:400px;
    text-align:left;
    font-size: 20px;
    color: white;
    background-color:#006eff;
    border: solid 10px #006eff;
    box-shadow: -10px 10px #fbff00;
    position: relative;
    float: left;
    margin-top: 50%;
    margin-left: 15%;
}
section h2{
    text-align: center;
}
.blocoD{
    clear: both;
    width: 500px;
    height: 400px;
    margin-top: 30px;
    margin-left: 50px;
    background-color: #fbff00;
    border:solid 5px #cace13;
    float: left;
    position: relative;
     clear: both;
}
.blocoE{
   
    width: 500px;
    height: 400px;
    margin-top: 30px;
    margin-right: 50px;
    background-color: #006eff;
    float: right;
    position: relative;
    border:solid 5px #0560d8;
}
.backTitleTxt{
    font-family: var(--font-titles);
    font-size: 30px;
    margin: 10px ;
    text-align: center;
    color: rgb(0, 0, 0);
}

.backTxt{
    
    font-size: 20px;
    text-align: left;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
}

.backTxt ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.backTxt ul > li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    margin: 5px;
}
div ul li img{
    width: 60%;
}
#mongo{
    width: 80%;
}
.frontTitleTxt{
    font-family: var(--font-titles);
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 10px;
}

.frontTxt{
    clear: both;
    font-size: 20px;
    text-align: left;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.frontTxt ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.frontTxt ul > li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 6px;
}



.blocoF{
    font-family: var(--font-titles);
    color: white;
    clear: both;
    width: 300px;
    height: 190px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 37%;
    border: solid 10px #fbff00 ;
    float:right;
}

.blocoF >div >p{
    float: left;
    margin-left: 30%;
    margin-top: 10%;
    display:flex;
    flex-direction: column;
}

.blocoF >div >p >a >i{
    font-size: 120px;
    color:rgb(255, 253, 253);
}

.blocoH{
    clear: both;
    width: 100%;
    height:30vh;
    background-color: #006eff;
    float:right;
    position:relative;
    
}

.footTitleTxt{
    
    font-family: var(--font-titles);
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.footTxt{
    font-family:--font-txt;
    justify-content: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.footTxt ul{
    display: flex;
    flex-direction: row;
    position:absolute;
    margin:10px;
}
.footTxt ul > li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 20px;
    color:rgb(255, 253, 253);
}

li > a > i{
    font-size: 40px;
    color:rgb(255, 253, 253);
}

ul > img{
    width:100%;
}

ul{
    list-style-type: none;
    font-family:--font-txt;
}

.minhaHabTxt{
    margin:0%;
    margin-top: 72%;
    margin-left: 25%;
    margin-bottom: 2%;
    font-size: 20px;
    width: 50%;
    height: 100%;
    text-align: center;
    position: relative;
    background-color: #006eff;
    border: solid 10px #006eff;
    box-shadow: -10px -10px #fbff00;
    font-family: var(--font-titles);
    color: rgb(255, 255, 255);
}